<app-headerc></app-headerc>
<app-hamburguesa-doctor></app-hamburguesa-doctor>
    <div class="login-div1 fixed">
        
        <div class="row center-align">
          <img src="assets/img/user2.jpg" class="logo responsive-img">
          <h5>Receta</h5>
          
        </div>
<table>

  <tr>
    <td>Fecha:</td>
    <td>11/12/2020</td>
  </tr>

  <tr>
    <td>Nombre del paciente:</td>
    <td>Matanga dijo la Changa</td>
  </tr>

  <tr>
    <td>Sexo:</td>
    <td>Femenino</td>
  </tr>

  <tr>
    <td>Diagnostico</td>
    <td> Daño cerebral por quitar cosas</td>
  </tr>

  <tr>
    <td>Observaciones</td>
    <td>Mujer 32 años, se presenta con ansiedad, y clama la necesidad de robar objetos que no son de ella</td>
  </tr>

  <tr>
    <td>Tratamiento</td>
    <td>Clonazepam 5 gotas c/ 12 hrs</td>
  </tr>

</table>
<button class="benv"> Enviar </button>
</div>


    
