<!--Hambuguer-->
<div class="container section">
    <a href="#" class="sidenav-trigger btn" data-target="menu-side">
        <i class="responsive material-icons">menu</i>
    </a>
    <!---->
<ul class="sidenav" id="menu-side">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="assets/img/fondop.jpg" alt="">
            </div>
            <a href="InfoD.html">
                <img src="assets/img/user2.jpg" alt="" class="circle">
            </a>
            <a href="#">
                <span class="name white-text">Doctor muy Preparado Mosby</span>  
            </a> 
            <a href="#">
                <span class="email white-text">DmPM@hotmail.com</span>  
            </a> 
        </div>
    </li>

    <!--contenido-->
    <li>
        <a href="qrd.html"> 
            <i class="material-icons">cloud</i>
            Solicitar QR
        </a>
    </li>
    <!---->
    <div class="divider"></div>
        <!--contenido-->
        <li>
            <a href="receta.html">
                <i class="material-icons">cloud</i>
                Emitir Receta
            </a>
        </li>
        <!---->
        <div class="divider"></div>
            <!--contenido-->
    
</ul>
</div>

<!--contenido-->

