<app-header></app-header>

<section class="container section scrollspy" id="acerca-de">
    <div class="row">
      <div class="col s12 l4">
        <img src="../../../assets/img/1.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1">
        <h2 class="indigo-text text-darken-4">Historial medico</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec,
          tincidunt orci.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l4 offset-l1 push-l7">
        <img src="../../../assets/img/3.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1 pull-l5 right-align">
        <h2 class="indigo-text text-darken-4">Desde tu celular</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec,
          tincidunt orci.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l4">
        <img src="../../../assets/img/4.jpg" alt="" class="responsive-img materialboxed">
      </div>
      <div class="col s12 l6 offset-l1">
        <h2 class="indigo-text text-darken-4">Desde tu lap</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec,
          tincidunt orci.</p>
      </div>
    </div>
  </section>
  <!--FIN DE 2 SECCION-->

  <!--PARALLAX 1-->
  <div class="parallax-container">
    <div class="parallax">
      <img src="../../../assets/img/fondo.png" alt="" class="responsive-img">
    </div>
  </div>
  <!--FIN DE PARALLAX 1-->

  <!-- services / tabs -->
  <section class="section container scrollspy" id="Objetivo">
    <div class="row">
      <div class="col s12 l4">
        <h2 class="indigo-text text-darken-4">Nuestro Objetivo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec,
          tincidunt orci.</p>
        <p>Mauris dolor augue, vulputate in pharetra ac, facilisis nec libero. Fusce condimentum gravida urna, vitae
          scelerisque erat ornare nec.</p>
      </div>

      <div class="col s12 l6 offset-l2">
        <!-- tabs -->
        <ul class="tabs">
          <li class="tab col s6"><a href="#emergencia" class="active indigo-text text-darken-4">Siniestro</a></li>
          <li class="tab col s6"><a href="#contacto" class="indigo-text text-darken-4">Extravío</a></li>
        </ul>

        <div id="emergencia" class="col s12">
          <p class="flow-text indigo-text text-darken-4">Datos de emergencias</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec,
            tincidunt orci.</p>
          <p>Mauris dolor augue, vulputate in pharetra ac, facilisis nec libero. Fusce condimentum gravida urna, vitae
            scelerisque erat ornare nec.</p>
        </div>
        <div id="contacto" class="col s12">
          <p class="flow-text indigo-text text-darken-4">Contactos de emergencia</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec,
            tincidunt orci.</p>
          <p>Mauris dolor augue, vulputate in pharetra ac, facilisis nec libero. Fusce condimentum gravida urna, vitae
            scelerisque erat ornare nec.</p>
        </div>
      </div>
    </div>
    
  </section>
  <!--PARALLAX 2-->
  <div class="parallax-container">
    <div class="parallax">
      <img src="../../../assets/img/fondo1.png" alt="" class="responsive-img">
    </div>
  </div>
  <!--FIN DE PARALLAX 2-->

  <!-- contact form -->

  <main class="container ">

    <!--titulo de blog post-->
    <section id="Beneficios">
      <div class="row">
        <div class="col s12">
          <h2>Beneficios de Ixtlilton</h2>
        </div>
      </div>

    </section>

    <section class="section">
      <div class="row">
        <!--borrado articulo-->
        <div class="col m8 text-darken-4">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia voluptates vel corrupti minima
            numquam ea eligendi, corporis assumenda, nulla cupiditate earum tenetur nobis voluptatibus
            tempora fugiat iure libero, a veniam!
            Accusantium impedit amet in numquam, officiis qui optio, ab adipisci a ut enim, magni nihil
            harum vero cum nemo error animi quisquam distinctio inventore nam. Ea in dolorem sequi animi?
            Ex corrupti eaque impedit iure laudantium est assumenda facere! Minus quod repellendus culpa,
            incidunt suscipit rem id eum nemo unde tempore sunt amet porro modi similique consectetur
            dolorem dolorum accusamus! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            aliquid?</p>

        </div>

        <!--seccion de cards-->
        <section>
          <div class="row">
            <!--columnas para pequeñas medianas y grandes pantalles el numero de columnas son diferentes-->
            <!--1 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/img/ayuda.gif">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Emergencias<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">En caso de emergencias<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
                  <a class="waves-effect waves-teal btn-flat teal lighten-5 right" href="post.html">ir</a>
                </div>

              </div>

            </article>
            <!--2 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/img/paciente.jpg">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Portabilidad<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Comodidad de uso<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
                  <a class="waves-effect waves-teal btn-flat teal lighten-5 right" href="post1.html">ir</a>
                </div>

              </div>

            </article>
            <!--3 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/img/historial.jpg">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Historial medico<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Tu historial medico<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
                  <a class="waves-effect waves-teal btn-flat teal lighten-5 right" href="post2.html">ir</a>
                </div>

              </div>

            </article>
            <!--4 card-->
            <article class="col s12 m6 14">
              <div class="card">
                <!--la imagen de la card-->
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/img/medico.jpg">
                </div>
                <!--contenido abajo de la imagen-->
                <div class="card-content">
                  <!--card-title estilo al texto,,,grey-text es color del texto sera gris,,,,activator activa el boton-->
                  <span class="card-title grey-text activator text-darken-4">Consultas<i
                      class="material-icons right">more_vert</i></span>
                </div>
                <!--Informacion de la card-->
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Historial de consultas<i
                      class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.
                  </p>
                  <!--boton de ir-->
                  <!--al dar ir nos mandara a post-->
                  <!--post.html-->
                  <a class="waves-effect waves-teal btn-flat teal lighten-5 right" href="post3.html">ir</a>
                </div>

              </div>

            </article>
          </div>
        </section>
  
       