<!--Hambuguer-->
<div class="container section">
    <a href="#" class="sidenav-trigger btn" data-target="menu-side">
        <i class="responsive material-icons">menu</i>
    </a>
    <!---->
<ul class="sidenav" id="menu-side">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="assets/img/fondop.jpg" alt="">
            </div>
            <a href="info-p.component.html">
                <img src="assets/img/user1.jpg" alt="" class="circle">
            </a>
            <a href="#">
                <span class="name white-text">Mayumi Magali Alcantara Mujica</span>  
            </a> 
            <a href="#">
                <span class="email white-text">Mayumi@hotmail.com</span>  
            </a> 
        </div>
    </li>
    <!--contenido-->
    <li>
        <a href="InfoP.html">
            <i class="material-icons">cloud</i>
            Informacion Paciente
        </a>
    </li>
    <!---->
    <div class="divider"></div>
        <!--contenido-->
        <li>
            <a href="consultas-paciente.component.html">
                <i class="material-icons">cloud</i>
                Consultas
            </a>
        </li>
        <!---->
        <div class="divider"></div>
            <!--contenido-->
    <li>
        <a href="qr-paciente.component.html">
            <i class="material-icons">cloud</i>
            Codigo Qr
        </a>
    </li>
    <!---->
</ul>
</div>

<!--contenido-->
