<app-headerc></app-headerc>
<app-hamburguesa-doctor></app-hamburguesa-doctor>
<main>
    <div class="login-div1 fixed">
        
        <div class="row center-align">
          <img src="assets/img/user2.jpg" class="logo responsive-img">
          <h5>Información Doctor</h5>
          
        </div>
<table>

  <tr>
    <td>Nombre:</td>
    <td>Doctor muy Preparado Mosby</td>
  </tr>

  <tr>
    <td>Sexo</td>
    <td>Masculino</td>
  </tr>

  <tr>
    <td>Especialidad</td>
    <td>Oncología</td>
  </tr>

  <tr>
    <td>Número del consultorio</td>
    <td> 5578563465</td>
  </tr>

  <tr>
    <td>Dirección del consultorio</td>
    <td>México, tlahuac, Porvenir #140 Edif 2-c Dep 401,13220</td>
  </tr>

</table>
</div>
    </main>

